# Default ignored files
**/shelf/
/tests/out.txt/
**/bin/
/.idea/
/out/
/src/src.iml
**/.DS_STORE
**/covid-contacts.iml
# Datasource local storage ignored files
**/dataSources/
**/dataSources.local.xml
# Editor-based HTTP Client requests
**/httpRequests/
# Log files
**/log/fakebook**test_log.txt
